*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}


/*==============================================*/

#wrapper {
  max-width: 1440px;
  height: 100%;
  background-color: rgb(127 241 10 / 21%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: math;
  color: rgb(94, 24, 45);
  margin: 0 auto;
  background-size: 100%
}

#wrapper .header {
  display: flex;
  margin: 50px 0px 20px 0px;
}

#wrapper .header .title {
  font-weight: 800;
  margin: 0 auto;
  text-align: center;

}

#wrapper .header img {
  width: 250px;
  height: 85px;
  margin: 0px 40px 20px 0px;
}


#wrapper .content {
  max-width: 800px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bacgraund.jpg);
  border-radius: 10px;
  margin: 0px 0px 50px 0px;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
}


#wrapper .content .input-group .input-group-prepend .input-group-text {
  font-size: 24px;
  font-weight: 600;
  width: 180px;
  background-color: rgba(127, 157, 255, 0.188);
  color: rgb(94, 24, 45);
  height: 40px;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  width: 300px;
  font-size: 22px;
  font-family: math;
  background-color: rgba(255, 178, 127, 0.59);
  border-radius: 10px;
  border: 1px white solid;
  color: rgb(94, 24, 45);
}

.custom-select option {
  font-size: 20px;
  font-weight: 500;
  width: 200px;
  background-color: rgba(127, 157, 255, 0.188);
  border: 1px white solid;
  border-radius: 10px;
}

.mb-3 {
  margin: 30px !important;
}

#textareaField .infoUser .input-form {
  height: 150px;
  background-color: rgba(255, 178, 127, 0.59);
  border-radius: 10px;
  border: 1px white solid;
}

#textareaField .col-form-label {
  font-weight: 600;
}

.content button {
  margin: 0 auto;
  background-color: #7b2830;
  border-radius: 10px;
  color: #fff;
  border: 1px #fff solid;
}

.content button:hover,
.content button:active {
  background-color: #3e7b28b9;
}


[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  display: flex;
  margin-bottom: 30px;
  padding: 10px;
}


/* Стилі для модального вікна */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
  background-color: #3e7b28b9;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.modal-content p {
  font-weight: 400;
  font-size: 18px;
}

.modal-content h2 {
  font-size: 18px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/*----------------------------*/
@media (max-width: 630px) {
  #wrapper {
    padding: 0px 10px 0px 10px;
  }

  #wrapper .content {
    box-shadow: none;
    justify-content: center;

  }

  #wrapper .header {
    justify-content: center;
    flex-direction: column;
    margin: 20px 0px 0px 0px;
  }

  #wrapper .header .title {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
  }

  #wrapper .header .title h1 {
    font-weight: 700;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
  }

  #wrapper .header img {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  #wrapper .content .input-group .input-group-prepend .input-group-text {
    width: 280px;
    height: 30px;
    padding: 4px;
    font-size: 20px;
  }

  .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    height: 30px;
    width: 280px;
    margin: 6px;
  }

  .mb-3 {
    margin: 15px 0px 15px 0px !important;
    justify-content: center;
  }

  #wrapper .content #textareaField {
    margin-top: -35px;
  }

  #textareaField .infoUser .input-form {
    height: 130px;
    width: 100%;
  }

  .col-form-label {
    font-size: 18px;
  }

  .modal-content {
    width: 85%;
  }



}