*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  background: var(--background-buttons-normal);
  border: 0px solid var(--background-buttons-normal);
  font-size: 21px;
  color: var(--background-white);
  text-align: center;
  width: 253px;
  height: 54px;
}

.button:hover {
  background: var(--background-buttons-hover);
  border: 0px solid var(--background-buttons-hover);
}

.button:active {
  background: var(--background-buttons-active);
  border: 0px solid var(--background-buttons-active);
}

/*==============================================*/

#wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(149, 241, 10, 0.658);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url();
}

#wrapper .title {
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}


#wrapper .content {
  min-width: 800px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}


#wrapper .content .input-group .input-group-prepend .input-group-text {
  font-size: 24px;
  font-weight: 600;
  width: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  width: 300px;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.custom-select option {
  font-size: 17px;
  font-weight: 500;
  width: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 10px;
}

.mb-3 {
  margin: 2rem!important;
}

